<script>
//Select
//selectDiv 와, b라는 변수에 의존적임. selectDiv는, drag효과를 낼 HTML DIV 태그.
//writingBoard는, drag가 될 영역. selectDiv는, writingBoard라는 태그 안에 있어야함.
//또, selectDiv와, writingBoard는 CSS layout에 의존적임.
class Select
{
	constructor(writingBoard,writingLapping){
		//bind
		this.selectStart = this.selectStart.bind(this);
		this.selectMove = this.selectMove.bind(this);
		this.selectEnd = this.selectEnd.bind(this);
		this.collisionDetection = this.collisionDetection.bind(this);
		//properties
		this.writingBoard = writingBoard;
		this.writingLapping = writingLapping;
		this.x, this.y;
		this.x2, this.y2;
		this.condition;
		this.selectDiv = document.getElementById("selectDiv")
		this.selectedObjs = null;
	}


	selectStart(event){
		this.x = event.pageX;
		this.y = event.pageY - 50; // pageY를 사용해야 오류 없이 정상작동함. 50은 margin값.
		this.condition = true;
	}


	selectMove(event)
	{
		if (this.condition)
		{
			var sd = this.selectDiv;
			sd.style = null;
			sd.style.display = "inline-block";
			sd.style.border = "2px solid #0047AB";
			this.x2 = event.pageX;
			this.y2 = event.pageY - 50; //위와 같은 문제.
			var dx = this.x2-this.x;
			var dy = this.y2-this.y;
			if(dx<0){
				sd.style.left = this.x2;
				sd.style.width = -dx;
			}else{
				sd.style.left = this.x;
				sd.style.width = dx;
			}
			if(dy<0){
				sd.style.top = this.y2;
				sd.style.height = -dy;
			}else{
				sd.style.top = this.y;
				sd.style.height = dy;
			}
		}
	}


	selectEnd(event){
		this.condition = false;
		this.selectDiv.style.display = "none";
		this.selectDiv.style = null;
	}


	collisionDetection()
	{
		//narrow phase. it can be more effective.
		//init. always y2 > y.
		if(this.condition)
			{
				var y = this.y;
				var y2 = this.y2;
				var temp;
				var w = this.writingLapping;
				var collisionObjs = [];
				if(y>y2){
					temp = y2;
					y2 = y;
					y = temp;
				}
				for(i in w.childNodes)
				{
					var top = w.childNodes[i].offsetTop;
					var bottom = top + w.childNodes[i].offsetHeight;
					if(y<top && top<y2){collisionObjs.push(w.childNodes[i])}
					else if(y<bottom && bottom <y2){collisionObjs.push(w.childNodes[i])}
					else if(top<y && bottom>y2){collisionObjs.push(w.childNodes[i])}
				}
			return collisionObjs;
			}
	}


	select(collisionObjs)
	{
		temp = "dragHandle disable-select selected";
		for(i in collisionObjs)
		{
			collisionObjs[i].setAttribute("class", temp);
		}
	}


	unSelect(collisionObjs)
	{
		temp = temp = "dragHandle disable-select";
		for(i in collisionObjs)
		{
			try
			{
			collisionObjs[i].setAttribute("class",temp);
			}
			catch(err)
			{
				continue;
			}
		}
	}

	run(){
	this.writingBoard.addEventListener("mousedown", (event) => 
		{
			var w = document.getElementById("writingLapping");
			this.selectStart(event);
			this.unSelect(w.childNodes);
			this.selectedObjs = null;
		});
	this.writingBoard.addEventListener("mousemove", (event) => 
		{
			if(this.condition){
			var w = document.getElementById("writingLapping");
			this.selectMove(event);
			this.unSelect(w.childNodes);
			this.selectedObjs = this.collisionDetection();
			this.select(this.selectedObjs);
			}
		});
	this.writingBoard.addEventListener("mouseup", (event)=>
	{
		this.selectEnd();
		console.log(this.collisionDetection());
	});
	//b.addEventListener("mouseout", selectEnd);
	}
}
d = document;
w = d.getElementById("writingBoard");
w2 = d.getElementById("writingLapping");
Selection = new Select(w,w2);
Selection.run();
</script>
















<script>
	//editor Object. use a class.
	/*
	props = {
		width:100px;
		height:100px;
		type:"editorObj";
	}
	*/


class editorObj
{
	constructor(props){
		//bind
		this.setProps = this.setProps.bind(this);
		this.setProps = this.setState.bind(this);
		this.createElement = this.createElement.bind(this);

		this.props = props;
		this.state = {};
		if (props == null){
			this.props = {};
		}
	}


	setProps(props){
		this.props = Object.assign(this.props, props);
	}


	setState(props){
		this.state = Object.assign(this.state, props);
	}
	createElement(DOMObj){
	this.setState({dragHandleNode:document.createElement("div")});
	this.setState({clickHandleNode:document.createElement("div")});
	this.setState({dataNode:document.createElement("div")});

	this.state.dragHandleNode.setAttribute("class","dragHandle disable-select");
	this.state.clickHandleNode.setAttribute("class","clickHandle disable-select");
	this.state.dataNode.setAttribute("class","dataNode");

	

	this.state.dragHandleNode.appendChild(this.state.clickHandleNode).appendChild(this.state.dataNode);
	DOMObj.appendChild(this.state.dragHandleNode);

	//이벤트 추가
	this.state.clickHandleNode.addEventListener("mouseover", clickHandleEventEnter);

	this.state.clickHandleNode.addEventListener("mouseout", clickHandleEventOut);
	}
}

class textObj extends editorObj
{
	constructor(props){
		super(props);
		this.setState({type:"text"});
		this.prototype = editorObj;
	}
	createElement(DOMObj){
		super.createElement(DOMObj);
		this.state.dataNode.setAttribute("contenteditable","true");
		this.state.dataNode.focus();

		this.state.dataNode.addEventListener("keydown",(event)=>{
			if(event.keyCode == 13){
			}
		});
	}
}
board = document.getElementById("writingBoard");
editorObjInstance = new editorObj();
editorObjInstance.state.dragHandleNode;

//sidebar
function addText(){
	textObject = new textObj();
	temp = document.getElementById("writingLapping");
	textObject.createElement(temp);
	console.log("event!")
}
document.getElementById("addText").addEventListener("click",addText);
</script>














<script>

//editorObjs switching....!
function change(A,B){

}
//editorObjs, ClickHandle.
function clickHandleEventEnter(event){
	if(event.target == event.currentTarget){
	event.currentTarget.style.cursor = "-webkit-grab"
	event.currentTarget.style.boxShadow = "inset 0 0 10px #000000"
	}
	else{
	event.currentTarget.style.cursor = "default"
	console.log(event.currentTarget)
	event.currentTarget.style.boxShadow = ""
	}
}
function clickHandleEventOut(event){
		event.currentTarget.style.cursor = "default"
		console.log(event.currentTarget)
		event.currentTarget.style.boxShadow = ""
}
// test code..
for(i in [...Array(50).keys()]){addText();}
</script>