<script>
//Select
//selectObj 와, b라는 변수에 의존적임. selectObj는, drag효과를 낼 HTML DIV 태그.
//b는, drag가 될 영역. selectObj는, b라는 태그 안에 있어야함.
//또, selectObj어ㅏ, b는 CSS layout에 의존적임.
class Select
{
	constructor(){
		//bind
		this.selectStart = this.selectStart.bind(this);
		this.selectMove = this.selectMove.bind(this);
		this.selectEnd = this.selectEnd.bind(this);

		this.x, this.y;
		this.x2, this.y2;
		this.condition;
		this.selectObj = document.getElementById("selectDiv")
		this.b = document.getElementById("writingBoard");
	}


	selectStart(event){
		this.x = event.pageX;
		this.y = event.pageY - 50; // pageY를 사용해야 오류 없이 정상작동함. 50은 margin값.
		this.condition = true;
	}


	selectMove(event){
		if (this.condition){
		this.selectObj.style = null;
		this.selectObj.style.display = "inline-block";
		this.selectObj.style.border = "2px solid #0047AB";
		this.x2 = event.pageX;
		this.y2 = event.pageY - 50; //위와 같은 문제.
		var dx = this.x2-this.x;
		var dy = this.y2-this.y;
		if(dx<0){
			this.selectObj.style.left = this.x2;
			this.selectObj.style.width = -dx;
		}else{
			this.selectObj.style.left = this.x;
			this.selectObj.style.width = dx;
		}
		if(dy<0){
			this.selectObj.style.top = this.y2;
			this.selectObj.style.height = -dy;
		}else{
			this.selectObj.style.top = this.y;
			this.selectObj.style.height = dy;
		}
		}
	}


	selectEnd(event){
		this.condition = false;
		this.selectObj.style.display = "none";
		this.selectObj.style = null;
	}


	run(){
	this.b.addEventListener("mousedown", this.selectStart);
	this.b.addEventListener("mousemove", (event) => {this.selectMove(event); collisionDetection(event);});
	this.b.addEventListener("mouseup", this.selectEnd);
	//b.addEventListener("mouseout", selectEnd);
	}
}
Selection = new Select()
Selection.run();

</script>



<script>
	//editor Object. use a class.
	/*
	props = {
		width:100px;
		height:100px;
		type:"editorObj";
	}
	*/


class editorObj
{
	constructor(props){
		//bind
		this.setProps = this.setProps.bind(this);
		this.setProps = this.setState.bind(this);
		this.createElement = this.createElement.bind(this);

		this.props = props;
		this.state = {};
		if (props == null){
			this.props = {};
		}
		this.state.id = editorObj.lastId;
		editorObj.lastId++;
	}


	setProps(props){
		this.props = Object.assign(this.props, props);
	}


	setState(props){
		this.state = Object.assign(this.state, props);
	}
	createElement(DOMObj){
	this.setState({dragHandleNode:document.createElement("div")});
	this.setState({selectHandleNode:document.createElement("div")});
	this.setState({dataNode:document.createElement("div")});

	this.state.dragHandleNode.setAttribute("class","dragHandle disable-select");
	this.state.selectHandleNode.setAttribute("class","selectHandle disable-select");
	this.state.dataNode.setAttribute("class","dataNode");

	this.state.dragHandleNode.appendChild(this.state.selectHandleNode).appendChild(this.state.dataNode);
	DOMObj.appendChild(this.state.dragHandleNode);
	}
}

class textObj extends editorObj
{
	constructor(props){
		super(props);
		this.setState({type:"text"});
		this.prototype = editorObj;
	}
	createElement(DOMObj){
		super.createElement(DOMObj);
		this.state.dataNode.setAttribute("contenteditable","true");
		this.state.dataNode.focus();

		this.state.dataNode.addEventListener("keydown",(event)=>{
			if(event.keyCode == 13){
			}
		});
	}
}


//sidebar
function addText(){
	textObject = new textObj();
	temp = document.getElementById("writingLapping");
	textObject.createElement(temp);
	console.log("event!")
}
document.getElementById("addText").addEventListener("click",addText);
</script>

<script>

//collision detection by narrow phase.

board = document.getElementById("writingBoard");
editorObjInstance = new editorObj();

Selection.y;
Selection.y2;
d = document;
w = d.getElementById("writingBoard");
w2 = d.getElementById("writingLapping");
editorObjInstance.state.dragHandleNode;

function collisionDetection()
{
	//narrow phase. it can be more effective.
	//init. always y2 > y.
if(Selection.condition){
		var y = Selection.y;
		var y2 = Selection.y2;
		var temp;
		var w = document.getElementById("writingLapping");
		var collisionObjs = [];
		if(y>y2){
			temp = y2;
			y2 = y;
			y = temp;
		}
		for(i in w.childNodes)
		{
			var top = w.childNodes[i].offsetTop;
			var bottom = top + w.childNodes[i].offsetHeight;
			if(y<top && top<y2){collisionObjs.push(w.childNodes[i])}
			else if(y<bottom && bottom <y2){collisionObjs.push(w.childNodes[i])}
			else if(top<y && bottom>y2){collisionObjs.push(w.childNodes[i])}
		}
		console.log(collisionObjs);
	}
}

// test code..
for(i in [...Array(50).keys()]){addText();}
</script>