  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
  $( function() {
    $( "#draggable" ).draggable();
  } );

  $( function() {
  	$("#sortable").sortable({handle : ".drag-handle"});
  	$( "#sortable" ).disableSelection();

  });
  </script>


 <style>
 ul {
    list-style: none;
}
ul li {
    height: 90px;
    width: 300px;
    background-color: #eee;
    border: 1px solid #aaa;
}
.drag-handle {
    background-color: yellow;
}
 </style>

 <!--- 
Drag Cancle로 드래그 범위를 제한 시켜줘야 해요!!
 ->