<html lang="ko">
	<head>
		<meta charset="utf-8">
	</head>
<div class="container" id="contentBody">


	<div class="container disable-select" id="headerMenu">
		<h1>Django Web Editor</h1>
	</div>

	<div class="container disable-select" id="writingBoard">
		<div id="selectDiv">
		</div>

		<div class="lapping disable-select" id="writingLapping">
		</div>	
	</div>

	<div class="container disable-select" id="sideBar">
	</div>


</div>
</html>

		{% include "editor/css.html" %} <!-- 추후, 수정이 필요한 부분.-->
		{% include "editor/javascript.html" %} <!-- 추후, 수정이 필요한 부분. -->