<html lang="ko">
	<head>
		<meta charset="utf-8">
	</head>
<div class="container" id="contentBody">


	<div class="container disable-select" id="headerMenu">
		<h1>Django Web Editor</h1>
	</div>

	<div class="container disable-select" id="writingBoard">
		<div id="selectDiv">
		</div>
		<div class="boardLapping disable-select" id="writingLapping">
			<div id="titleBar">
				강박증 걸릴 것 같자너~
			</div>
			<div class="dragHandle disable-select">
				<div class="selectHandle disable-select">
					<div class="dataNode" contenteditable="true">
						개빡치자너~
					</div>
				</div>
			</div>
		</div>	
	</div>

	<div class="container disable-select" id="sideBar">
		<span class="sideBarMenu" id="addText">add Text</span>
	</div>


</div>
</html>

		{% include "editor/css.html" %} <!-- 추후, 수정이 필요한 부분.-->
		{% include "editor/javascript.html" %} <!-- 추후, 수정이 필요한 부분. -->

