<aside>
	<span class="sidebar" id="textComponant" >Text Creator</span>
</aside> 
<main>
	<div class="editor" id="Title" contenteditable="true" data-text="Title"></div>
    <ul id="sortable">
        <li><div class="drag-handle">drag me</div>Item 1</li>
        <li><div class="drag-handle">drag me</div>Item 2</li>
        <li><div class="drag-handle">drag me</div>Item 3</li>
        <li><div class="drag-handle">drag me</div>Item 4</li>
    </ul>
	<div id="lipsum">
	<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec aliquam lectus, sit amet tincidunt quam. Aliquam erat volutpat. Sed vitae nunc eu tellus sodales scelerisque vitae at diam. Cras tempor congue nibh, ac rutrum augue aliquam ut. Etiam imperdiet placerat massa. Morbi tristique ligula ex, in fringilla tellus interdum at. Nunc malesuada aliquet varius. Ut mi dui, vestibulum sed tincidunt eu, vulputate id purus. Donec enim massa, convallis vitae neque a, dictum iaculis turpis.
	</p>
	<p>
Integer sagittis erat arcu. Phasellus convallis maximus consequat. Sed ornare felis at arcu hendrerit mattis. Maecenas facilisis eleifend risus pellentesque eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis sagittis sem mauris, ut tristique orci pulvinar quis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque in purus egestas est venenatis sollicitudin vitae sit amet augue. Sed molestie hendrerit libero, in tempor enim hendrerit quis. Mauris sit amet fermentum mauris. Sed ultricies mauris ut lacus mollis iaculis. Aenean condimentum, felis lobortis scelerisque egestas, nisi ipsum dignissim nibh, vel vulputate sem est vel felis.
	</p>
	<p>
Donec tortor sem, vestibulum vitae ligula quis, sodales consectetur mi. Maecenas nec sagittis mauris. Suspendisse a elementum nisi. Nam neque turpis, luctus nec bibendum sit amet, ultricies id felis. Morbi egestas orci eu pulvinar fermentum. Duis ornare mauris nec elit efficitur, at interdum magna finibus. Aenean vulputate leo at est sodales lobortis. Aliquam tincidunt lectus sit amet elit iaculis commodo. Sed gravida arcu sit amet felis dictum, eu dignissim nisl bibendum. Donec mi magna, pretium id congue non, pretium non nisi. Suspendisse mollis fermentum nunc varius pharetra. Phasellus at lacus cursus, fringilla nibh nec, tincidunt felis. Phasellus consectetur sapien vestibulum elementum vestibulum.
	</p>
	<p>
In hac habitasse platea dictumst. Suspendisse mattis augue a dolor dignissim condimentum. Phasellus posuere risus velit, sed cursus sem sodales et. Mauris lobortis egestas nunc, in imperdiet nibh. Praesent urna arcu, porttitor nec nibh a, volutpat vestibulum justo. Pellentesque ultricies consequat arcu, id faucibus enim finibus eu. Maecenas semper felis metus, eget placerat diam ultricies non.
	</p>
	<p>
Quisque at volutpat metus, at euismod velit. Donec venenatis purus lacus, at hendrerit erat aliquam vitae. Vestibulum turpis enim, sollicitudin sed sollicitudin sit amet, posuere ac felis. Sed eleifend lacus purus, at consequat mauris commodo eu. In rutrum sem ipsum, at mattis ipsum placerat vitae. Morbi facilisis molestie posuere. Donec sagittis, nisl eu accumsan aliquam, ipsum felis dignissim magna, ut blandit elit metus in ante. Maecenas ullamcorper sed sem eu bibendum. Maecenas euismod feugiat molestie.
	</p>
	</div>	
</main>
